{{ template "base.html" .}}
{{ define "title" }}Go HTMX Counter{{ end }}
{{ define "content"}}
    <div class="flex flex-col min-h-screen">
      <div class="flex justify-center items-center flex-grow">
        <div id="counter" class="text-5xl font-bold">{{.CounterValue}}</div>
      </div>

      <div class="flex justify-center p-4 fixed bottom-4 w-full">
        <button
          hx-target="#counter"
          hx-post="/decrease"
          class=" mx-2 px-4 py-2 bg-blue-700 hover:bg-blue-800 rounded-lg text-white"
        >
          Decrease -
        </button>
        <button
          hx-target="#counter"
          hx-post="/increase"
          class=" mx-2 px-4 py-2 bg-blue-700 hover:bg-blue-800 rounded-lg py-2.5 px-4 text-white"
        >
          Increase +
        </button>
        <button
          hx-target="#counter"
          hx-post="/multiply"
          class=" mx-2 px-4 py-2 bg-blue-700 hover:bg-blue-800 rounded-lg py-2.5 px-4 text-white"
        >
          Multiply x2
        </button>
        <button
          hx-target="#counter"
          hx-post="/divide"
          class=" mx-2 px-4 py-2 bg-blue-700 hover:bg-blue-800 rounded-lg py-2.5 px-4 text-white"
        >
          Divide /2
        </button>
      </div>
    </div>
    
{{ end }}
